@model List<ClienteModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="titulo"> Clientes</h1>

<h2>Nuevo cliente</h2>
<button onclick="agregar()">Agregar</button>

<table id="customers">
    <tr>
        <th>Tipo</th>
        <th>Id</th>
        <th>Nombre</th>
        <th>Cuenta</th>
        <th>Email</th>
        <th>Contraseña</th>
        <th>Vencimiento Cliente</th>
        <th>Vencimiento Cuenta</th>
        <th>Pantallas</th>
    </tr>


    @foreach (var item in Model)//desconfigure la exepcion 
    {

        <tr id="@item.Id">
            <td id="@item.Tipo.ToString()"></td>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>@item.Cuenta</td>
            <td>@item.Email</td>
            <td>@item.Contraseña</td>
            <td>@item.VencimientoC</td>
            <td>@item.VencimientoP</td>
            <td>@item.Pantallas</td>

            <td>
                <div class="eliminar">
                    <button onclick="Borrar('@item.Id')"></button>
                </div>

            </td>

            <td>
                <div class="btne">
                    <button onclick="Editar('@item.Id')">Editar</button>
                </div>
            </td>
        </tr>
    }

    </table>






