@model List<ClienteModel>
@{
    ViewData["Title"] = "Home Page";
}


<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"><h2>Buscar Cliente</h2></a>
    <div class="form-inline">
        <input class="form-control" onkeyup="Filtro()" type="search" aria-label="Search" id="Search">
        <select id="opciFiltro" class="form-control">
            <option>Nombre</option>
            <option>Cuenta</option>
        </select>
    </div>
</nav>

<div >
    <button onclick="cuentasLibre()" class="btn-success" id="Libres">Libres</button>
    <button onclick="BuscarCliente()" class="btn-success" id="Search">Todas</button>
</div>


<div class="row">
    <div class="col">
        <a onclick="agregar()" id="nuevo" class="btn btn-" data-toggle="tooltip" data-placement="top" title="Agregar"><i class="fas fa-plus-circle"></i></a>
        <a class="btn btn-" data-toggle="tooltip" data-placement="top" title="Buscar" href="#" id="buscar"><i class="fas fa-search"></i></a>
    </div>
</div>

<table id="customers" class="table table-responsive table-hover">
    <tr id="tableHeader">
        <th scope="col">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo</label>
                <select id="Tipo" class="form-control" onchange="FiltroTipo()">
                    <option value="1">@Tipo.Netflix</option>
                    <option value="2">@Tipo.Flow</option>
                    <option value="3">@Tipo.IPTV</option>
                    <option value="5">@Tipo.AmazonPrime</option>
                    <option value="4">@Tipo.DirecTVGo</option>
                    <option value="6">@Tipo.Spotify</option>
                    <option value="7">@Tipo.DisneyPlus</option>
                    <option value="8">@Tipo.HBOMax</option>
                    <option value="0">Todas</option>
                </select>
            </div>
        </th>
        <th scope="col">Nombre</th>
        <th scope="col"><button class="btn-success"onclick="BuscarCuenta()"id="CuentaN">Cuenta</button></th>
        <th scope="col">Contraseña</th>
        <th scope="col"><button class="btn-success" onclick="BuscarPorFechaCuenta()" id="FechaVenciCuenta">Vencimiento Cuenta</button></th>
        <th scope="col"><button class="btn-success" onclick="BuscarPorFecha()" id="FechaVenci">Vencimiento Cliente</button></th>
        <th scope="col">Pantallas</th>
        <th scope="col">Comentario</th>
        <th scope="col" style="background-color:red">Borrar</th>
        <th scope="col" style="background-color:darkblue">Editar</th>
    </tr>

    @foreach (var item in Model)//desconfigure la exepcion
    {

        <tr id="@item.Id" class="DataRows">
            <td>@item.Tipo.ToString()</td>
            @*<td>@item.Id</td>*@
            <td>@item.Nombre</td>
            <td>@item.Cuenta</td>
            <td>@item.Contraseña</td>
            <td>@item.VencimientoC</td>
            <td>@item.VencimientoP</td>
            <td>@item.Pantallas</td>
            <td>@item.Comentario</td>

            <td>
                <a onclick="Borrar('@item.Id')" class="IconBtn"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a>
            </td>
            <td>
                <a onclick="Editar('@item.Id')" class="IconBtn" data-toggle="tooltip"><i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i></a>
            </td>
        </tr>


    }

</table>



